<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${titular}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pharetra vehicula nulla, ac hendrerit enim vulputate ac. Donec eget tellus elit. Duis euismod sapien id odio porttitor, sit amet aliquam felis volutpat. Donec massa eros, volutpat ultricies rhoncus ac, efficitur quis nulla. In vestibulum augue nec tortor fringilla, et dapibus turpis accumsan. Aliquam sit amet metus gravida, faucibus mauris eu, dictum risus. Mauris gravida tellus ac ex condimentum, et accumsan orci interdum. Mauris interdum vitae tortor quis molestie. Fusce fringilla ultricies tortor, ut dignissim mauris condimentum mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce eros ligula, consectetur id sodales in, aliquam non enim. Etiam sagittis porta arcu nec blandit. Quisque vitae sem vel orci viverra gravida nec ac risus. Vivamus cursus velit auctor ligula porta euismod.

Donec vestibulum, elit et maximus viverra, mi felis consequat sapien, ac fermentum ligula erat rhoncus augue. Sed at massa accumsan, hendrerit massa eu, facilisis dui. Donec sagittis libero sit amet urna fringilla accumsan. Proin mollis, tortor sit amet laoreet rhoncus, urna ipsum tristique nisl, et laoreet nisl enim a erat. Nullam cursus, orci vehicula congue fermentum, nunc libero commodo nisi, ut pulvinar dui velit at massa. Maecenas viverra mattis vulputate. Ut pharetra nibh at libero porttitor, nec rhoncus eros luctus. Fusce sed blandit nibh. Curabitur rhoncus velit vitae elit dignissim, eu laoreet est dapibus. Nulla viverra neque ut pellentesque hendrerit. Vivamus auctor non ante sit amet tempus. Praesent elementum mollis ipsum. Duis sit amet euismod eros, vel sollicitudin neque. Suspendisse convallis sit amet est id venenatis. Sed sit amet ipsum dolor. Mauris augue lacus, pellentesque a justo vel, iaculis facilisis lacus.

Duis eget tellus nec nibh consectetur ultricies vitae id tortor. Sed semper in dui in lacinia. Donec scelerisque luctus purus, et efficitur enim euismod vel. Nullam egestas nulla eget eros ultricies, dictum molestie felis tempus. Vivamus ultricies fermentum tellus. Donec quam felis, cursus quis commodo id, laoreet eget tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque at suscipit ante. Praesent ac ligula felis. Nam quis metus congue, commodo leo nec, bibendum tortor. 
</p>
<a th:href="@{/con-numero}"> Listado de asignaturas con número de alumnos</a>
<a th:href="@{/sin-numero}"> Listado de asignaturas sin número de alumnos</a>
</body>
<img th:src="@{/images/asignaturas}" alt="Imagen de Asignaturas para demo"></img>

</html>