<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>

	<style>
		table {
			border-collapse: collapse;
			margin: 0 auto;
			/* Margen automático para centrar horizontalmente */

		}

		td,
		th {
			border: 1px solid darkgray;
			padding: 8px;
			text-align: center;
		}
	</style>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<a th:href="@{/home}">Home</a>

<table>
	<thead>
		<tr>
			<td>Id</td>
			<td>Nombre</td>
			<td>Descripción</td>
			<td>Tipo</td>
			<td>Número de créditos</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="Asignatura : ${lista}">		
			<td th:text="${Asignatura.id}"></td>
			<td th:text="${Asignatura.descripcion}"></td>
			
			<td th:text="${Asignatura.tipo}"></td>
			<td th:text="${Asignatura.numeroCreditos}"></td>
			<td th:text="${Asignatura.numeroCreditos}"></td>
		</tr>
	</tbody>
</table>

</body>
</html>